<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- CSS Section -->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="Content/app.css">
</head>
<body>
    <div class="container">
        <h1><i class="fa-solid fa-triangle-exclamation fa-lg"></i></i> Oops, you encountered an {{title}}!</h1>
    </div>
    

    <!-- Script Section -->
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="Scripts/app.js"></script>
</body>
</html>
